[Desktop Entry]
Name=Youzahabou
Comment=diagnostic anémie, grossesse et tsh
Exec=/usr/bin/youzahabou %F
Icon=youzahabou
Terminal=false
Type=Application
Categories=Utility;GTK;Office;
