Source: youzahabou
Section: utils
Priority: optional
Maintainer: ton_nom <younesbis@doctor.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.1.4
Homepage: https://example.com

Package: youzahabou
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, desktop-file-utils
Description: Application Youzahabou
 Une description courte de ton application.

