Package: youzahabou-dbgsym
Package-Type: ddeb
Source: youzahabou
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: ton_nom <younesbis@doctor.com>
Installed-Size: 12559
Depends: youzahabou (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for youzahabou
Build-Ids: 920c8f450d8d98fec6b0dd1ad84c3456eb233e98 9b751724da80dc859a432ff5c395ee7e8411a181 c1558ebca215b3900de8a01df4d9aae44f7a6398
